body {
    text-align: center;
}

.etched {
    background-color: black;
}

.pixel {
    
}

.row {
    display: flex;
    justify-content: center;
}



#container {
    background-color: #EFEFEF;
    border: 40px solid #EE0000;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 600px;
}

#settings {
    margin: 10px 0px;
}